<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finance Advisor</title>
    <style>
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      .question {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      footer {
        margin-top: 34%;
        font-size: 0.9rem;
        color: #7f8c8d;
      }
    </style>
  </head>
  <body class="question">
    <div id="web">
      <h1 id="title">Finance Advisor</h1>
      <input type="text" id="website-url" placeholder="Ask your questions..." />
      <button id="button" onclick="sendMessage()">Send</button>
      <div id="response"></div>
    </div>

    <footer>
      <p>© 2025 Finance Advisor. All rights reserved by STFO.</p>
    </footer>

    <script>
      function sendMessage() {
        const userInput = document.getElementById("website-url").value;

        if (userInput.trim() === "") return;

        fetch("/chat", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ question: userInput }),
        })
          .then((response) => response.json())
          .then((data) => {
            document.getElementById("response").textContent =
              "Bot: " + data.answer;
          })
          .catch((error) => console.error("Error:", error));
      }
    </script>
  </body>
</html>
